footer {
    background: #f8f8f8;
}

.links-container {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: 2rem 0rem;

    ul {
        flex: 1 1 calc(100% / 2);
        margin-bottom: 1.5rem;
    }
    .link-heading {
        margin: 1rem 0;
        color: $type-dark;
        text-transform: uppercase;
    }

    .link {
        color: $type-dark-2; 
        line-height: 1.5;
    }

    .link:hover {
        cursor: pointer;
        text-decoration: underline;
    }

    .address {
        color: $type-light;
        margin-bottom: 0.3rem;
    }

    .phone {
        color: $type-light;
        line-height: 1.5;
    }

    .email {
        color: $type-light;
        line-height: 1.5;
    }
}

.social-media {
    margin-bottom: 1.5rem;
}

.award {
    background: $primary-dark;
    color: #fff;
    padding: 2.5rem 2.25rem;
    margin-bottom: 1.5rem;
    text-align: center;

    .sm-header {
        text-transform: uppercase;
        font-size: 1.7rem;
    }
    
    .sm-tag {
        text-transform: uppercase;
        font-size: 1.7rem;
        line-height: 1.5;
    }
}

.sm-icons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: $primary-light;
    padding: 3.4rem 6rem;
    color: white;

    .icon {
        width: 1.5rem;
    }

    .facebook {
        width: 0.7rem;
    }
}

.foot-bar {
    background: $primary-dark;
    text-align: center;
    color: $type-light;
    padding: 1rem 0;
}

