header {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    height: 310px;
    background-image: url("../img/ave-header-image-min.jpg"); 
    color: white;
    
    h1 {
        margin-bottom: 1.3rem;
    }
}