.icon-view {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 1rem;

    .title {
        margin-left: 1.5rem;
    }

    .menu-icon {
        width: 2rem;
    }
}