nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 1rem;
}

.hidden {
    display: none;
}

.mobile-menu {
    font-size: 1.4rem;
    text-align: center;

    li {
        padding: 1rem 0;
    }

    li:hover {
        cursor: pointer;
        background: $primary-light;
    }
}

.title {
    margin-left: 1.5rem;
    font-weight: normal;
    text-transform: uppercase;
    font-size: 1.1rem;
}

.menu-icon {
    width: 2rem;
}

.list-view {
    display: none;
}

@media(min-width:760px) {
    .icon-view {
        display: none;
    }

    .list-view {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 0.8rem;

        li {
            margin-right: 1rem;
        }

        a {
            text-decoration: none;
            text-transform: uppercase;
            color: #000;
        }

        a:hover {
            color: $primary-light;
        }
    }
}