/*! minireset.css v0.0.4 | MIT License | github.com/jgthms/minireset.css */
@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,700");
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button,
input,
select,
textarea {
  margin: 0;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

img,
embed,
iframe,
object,
video {
  height: auto;
  max-width: 100%;
}

audio {
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
  text-align: left;
}

footer {
  background: #f8f8f8;
}

.links-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 2rem 0rem;
}

.links-container ul {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 calc(100% / 2);
          flex: 1 1 calc(100% / 2);
  margin-bottom: 1.5rem;
}

.links-container .link-heading {
  margin: 1rem 0;
  color: #575153;
  text-transform: uppercase;
}

.links-container .link {
  color: #727272;
  line-height: 1.5;
}

.links-container .link:hover {
  cursor: pointer;
  text-decoration: underline;
}

.links-container .address {
  color: #989898;
  margin-bottom: 0.3rem;
}

.links-container .phone {
  color: #989898;
  line-height: 1.5;
}

.links-container .email {
  color: #989898;
  line-height: 1.5;
}

.social-media {
  margin-bottom: 1.5rem;
}

.award {
  background: #333;
  color: #fff;
  padding: 2.5rem 2.25rem;
  margin-bottom: 1.5rem;
  text-align: center;
}

.award .sm-header {
  text-transform: uppercase;
  font-size: 1.7rem;
}

.award .sm-tag {
  text-transform: uppercase;
  font-size: 1.7rem;
  line-height: 1.5;
}

.sm-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #00c8c8;
  padding: 3.4rem 6rem;
  color: white;
}

.sm-icons .icon {
  width: 1.5rem;
}

.sm-icons .facebook {
  width: 0.7rem;
}

.foot-bar {
  background: #333;
  text-align: center;
  color: #989898;
  padding: 1rem 0;
}

.icon-view {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.5rem 1rem;
}

.icon-view .title {
  margin-left: 1.5rem;
  text-transform: uppercase;
  font-size: 1.1rem;
}

.icon-view .menu-icon {
  width: 2rem;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  text-transform: uppercase;
}

header h1 {
  margin-bottom: 1.3rem;
}

.center-container {
  max-width: 820px;
  margin: 0 auto;
  padding: 1rem;
}

h2,
h3,
h4,
h5,
h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

p,
label,
li {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 1.8rem;
}

.bold-text {
  font-weight: bold;
  text-transform: uppercase;
}

.link-heading {
  font-weight: bold;
}
/*# sourceMappingURL=style.css.map */